#line {

	color: dimgray; background-color: dimgray;
	width: 600px;
	height:3px;
	border: none;
}

h1 {
	color: dimgray;
}
h2 {
	color: gray;
}

h3 {
	color: #ace0c1;
	font-size: 20px;
}
img {

	width: 600px;
}
body {
	font-family: sans-serif, "Roboto Light";
	width: 600px;
	/* top | right | bottom | left */
	margin: 0 auto 0 auto;
}

#persona p {
	font-size: 16px;
	line-height: 15px;
}