body {
	margin: 0 auto 0 auto;
	width: 600px;
	background-color: #999999;
	font-family: 'Lato', sans-serif;
	color: #e6e6e9;
}

h3, h1, h2	{
	color: lightgray;
}
.line {
	color: #f4f4f6;
	background-color: #f4f4f6;
	width: 600px;
	height:3px;
	border: none;
}

strong {
	font-size: large;
}
a {
	display: inline-block;
	justify-content: space-around;
	color: white;
}