body {
	background-color: #707070;
	font-family: 'Lato', sans-serif;
	color: #e6e6e9;
}

.container {
	margin: 0 auto 0 auto;
	width: 600px;
}

h1 {
	font-size: 3em;
	color: white;
}
 h2	{
	 font-size: 2.5em;
	 color: lightgray;
}

h3 {
	font-size: 1.5em;
	color: #f4f4f6;
 }

em {
	font-size: 1.5em;
}

.line {
	color: #f4f4f6;
	background-color: #f4f4f6;
	width: 600px;
	height:4px;
	border: none;
}

strong {
	font-size: large;
}

iframe{
	border: solid white;
}

iframe[alt*="Desktop"]{
	width: 1300px;
	background-color: #707070;
	justify-items: center;
}

.desktop{
	display: flex;
	background-color: #707070;
	justify-content: center;
}