body, html {
	height: 100%;
}


.bg {
	background-image: url("/public_html/documentation/pics/bg1.jpg");

	/* Full height */
	width: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
