body, html {
	height: 100%;
	color: white;
	background-color: #4a4a4a;
}

h2 {
	margin-bottom: 1em;
}

.row {
	margin-bottom: 4.5em;
}

/*intro section*/

.imageVisible {
	width: 100%;
}

.introImage {
	border: solid #707070;
}

.introSidebar {
	width: 100%;
}

.in-sb-bottom {
	border-left: solid #707070;
	border-bottom: solid #707070;
	border-right: solid #707070;}

.in-sb-l0 {
	border-left: solid #707070;
	border-right: solid #707070;
	cursor: pointer;
}

.in-sb-l1 {
	border-left: solid #707070;
	border-right: solid #707070;
	cursor: pointer;
}

.in-sb-l2 {
	border-left: solid #707070;
	border-right: solid #707070;
	cursor: pointer;
}

.in-sb-top {
	border-left: solid #707070;
	border-top: solid #707070;
	border-right: solid #707070;
}

/*opacity section*/
.opacity {
	background-color: #4a4a4a;
}

.opacity h2 {
	text-align: right;
}

.opacity p {
	text-align: right;
}

.wrapper {
	position: relative;
	width: 100%;
}

.opacity0 {
	width: 100%;
}

.opacityBG {
	border: solid #707070;
}

.opacity1 {
	position: absolute;
	top: 0;
	width: 100%;
}

.opacitySidebar {
	width: 100%;
}

.op-sb-bottom {
	border-left: solid #707070;
	border-bottom: solid #707070;
	border-right: solid #707070;
}

.op-sb-middle {
	border-right: solid #707070;
	border-left: solid #707070;
	cursor: pointer;
}

.op-sb-top {
	border-left: solid #707070;
	border-top: solid #707070;
	border-right: solid #707070;
}


.rangeSlider{
	width: 100%;
}

.opacitySlider {
	-webkit-appearance: none;
	background: #404040  ;
	width: 50%;
	height: 9px;
	opacity: 2;
}


.opacitySlider::-webkit-slider-thumb {
	-webkit-appearance: none;
	cursor: pointer;
	background: white;
	width: 20%;
	height: 15px;
}


.opacitySlider:hover {
	opacity: 1;
}






/*blend option section*/
.blendImage {
	width: 100%;
}

.blendOptions {
	border: solid #707070;
}

.blendSidebar {
	width: 100%;
}

.bo-sb-bottom {
	border-left: solid #707070;
	border-bottom: solid #707070;
	border-right: solid #707070;
}

.bo-sb-middle {
	border-right: solid #707070;
	border-left: solid #707070;
	cursor: pointer;
}

.bo-sb-top {
	border-left: solid #707070;
	border-top: solid #707070;
	border-right: solid #707070;
}

.dropdown-menu {
	background-color: white;
	text-align: left;
	border: solid #707070;
	width: 50%;
}

.dropdown-menu a{
	color: #4a4a4a;
}

li {
	cursor: pointer;
}

li:hover {
	text-decoration: underline;
}

hr {
	margin: 0px;
}

/*form section*/
.contact h2 {
	/*text-align: right;*/
}


form {
	margin-bottom: 4em;
	width: 75%;
	text-align: left;
}

.form-control {
	border: solid #707070;
	background-color: #424242;
}

/*footer section*/
footer {
	color: #4a4a4a;
	text-align: center;
}