body, html {
	height: 100%;
	color: white;
	background-color: #4a4a4a;
}

.intro img {
	border: solid #707070;
	display: flex;
}

.intro-image {
	position: relative;
	width: 100%;
}

.image {
	position: absolute;
}

.allVisible {
	z-index: 7;
}

.greenGone {
	z-index: 0;
}

.blueGone {
	z-index: 1;
}

.faceGone {
	z-index: 2;
}

.allGone {
	z-index: 3;
}

.allColorsGone {
	z-index: 4;
}

.onlyGreen {
	z-index: 5;
}

.onlyBlue {
	z-index: 6;
}

#IntroSidePanel {
	width: 45%;
	}
